<nav class="navbar navbar-default" profile>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
				<div class="nav-img">
					<img to="/drip/me" ng-src="{{ profile.profile_picture }}" class="nav-avatar">
				</div>      
		</form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main-dashboard container" drip-dashboard>
	<div class="user" ng-repeat="drip in drips">
		<div class="about-user col-lg-12">
			<div class="img col-lg-1 ">
				<div class="img-container">
				<img class="dripper-img" ng-src="{{ drip.drip.user.profile_picture }}">
			</div>
			</div>		
				<div class="user-info col-lg-11">
					<p>{{ drip.drip.user.name }}</p>
					<p>{{ drip.drip.title }}</p>
				</div>
			</div>
		<div class="drip-description col-lg-12">
			<p>{{ drip.drip.description }}</p>
		</div>
		<div class="col-lg-10" video-source="{{ drip.drip.link }}" video-dashboard>			
			<iframe         
				class="video-size"
				ng-src="{{ videoSrc }}"
				frameborder="0" 
				allowfullscreen>
			</iframe>
		</div>
		<div class="drip-actions col-lg-12">			
			<div class="pull-right">
				<button data-toggle="modal" data-target="#myModal">See Process</button>
				<button>React</button>
			</div>
		</div>
		<div class="divider col-lg-12"></div>		
		</div>
	</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" drip-modal-bucket>
  <div class="modal-dialog">
		<div class="left-arrow">
			
		</div>
		<div class="right-arrow">
			
		</div>
    <!-- Modal content-->
    <div class="modal-content row">
<!--       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-body">
        <h4 class="modal-title">Our Second Attempt</h4>
        	<div class="modal-main-image">
        		
        	</div>
        <div class="process-supp-details">
        	<div class="attempts">
        		<p class="pull-right">2/7</p>
        			<p>7 Attempts</p>
			</div>
      				<div id="demo">
        				<div class="container owl-modal">
          				<div class="row">
           				 <div class="span12">

              				<div id="owl-demo" class="owl-carousel">
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
                				<div class="item"><img src="<%= image_path 'clark.jpg' %>" alt="Owl Image"></div>
              				</div>
              
            				</div>
          				</div>
       				 </div>
    				</div>
    			<!-- <div class="divider"></div>  -->	
        </div>
        <div class="reactions-head">
        		<p>7 Reactions</p>
        		<div class="reaction">  
        				<textarea class="reaction-field"></textarea>
        			<button class="pull-right">React</button>
        			<div class="reaction-users">
						<div class="about-user modal-user">
							<div class="img col-lg-2">
								<div class="img-container">
									<img class="dripper-img" src="<%= image_path 'clark.jpg' %>">
								</div>
							</div>
								<div class="user-info col-lg-10">
									<!-- <small>1 day ago</small> -->
									<p>Clark Anthony Dacoco</p>
									<!-- <p>Project Almanac</p> -->
									<p class="reaction-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.										
									</p>									
								</div>		
							</div>

        				</div>
        		</div>
        </div>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>


      <script src="assets/owl.carousel.js"></script>



     <style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    </style>


    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
/*        autoPlay: 3000,*/
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
    </script>