<header profile>
	<div class="container">
		<nav class="row menu">
			<div class="col-md-9">
				<div class="form-group">
					<div class="input-group" style="margin-left: 10px;">
						<input type="text" class="form-control input-number" placeholder="Search for drips">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-number" >
							<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<button class="form-control btn btn-default" to="/drip/me">{{ profile.name }}</button>				
			</div>
		</nav>
	</div>
</header>
<section id="main-container">
	<div class="row" style="min-width: 3785px;">
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (1).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (2).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (3).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (4).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (5).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (7).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (4).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (8).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (9).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (10).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (11).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (4).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (12).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (11).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (13).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (14).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (15).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (13).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (16).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (17).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (18).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (16).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (19).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (20).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (21).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (19).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (1).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (2).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (3).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (20).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (4).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (5).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (4).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (7).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (5).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (8).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (9).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (10).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (11).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (8).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (17).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (11).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (18).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (19).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (20).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (21).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="<%= image_path 'drips (18).jpg' %>" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (12).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (13).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (14).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (21).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (15).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (16).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (15).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (17).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (16).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (18).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (19).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (20).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (21).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (19).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (1).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (21).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (2).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (3).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (4).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (5).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (3).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (7).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (8).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (5).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (9).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (10).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (11).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (9).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (12).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (13).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (14).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (11).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (15).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (16).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (15).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
		<!-- Columns -->
		<div class="col-md-4 drips-columns">
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (17).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (18).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (19).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (20).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (16).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (21).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
			<div class="col-md-4 drip-vids">
				<div class="drip-author">
					<p><a href="#">Jules Mercado</a></p>
				</div>
				<div class="img-wrapper">
					<img src="/assets/drips (20).jpg" class="float">
				</div>
				<div class="bottom-desc">
					<h4>My First Highschool Academic Achievement</h4>
					<p style="overflow:hidden">
						<a href="#" class="pull-left">
							Follow
						</a>
						<a href="#" class="pull-right">
							Acknowledge
						</a>
					</p>
					<p style="color: #fff;font-size: 11px;text-align:justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum...
					</p>
				</div>
			</div>
		</div>
		<!-- end: Colums -->
	</div>
</section>